# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Ray Tracer.xcodeproj/project.xcworkspace/xcuserdata/mikelentini.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
